
<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Congrats! Here's your result:</h1>
    </div>
    <h3>You weight is <%= weight %>, and you are currently a <%= worker %>
    </h3>
    <hr>
    <% if (worker==Brainworker) {%>
       <% if (needmore==Yes) {%>
          You should drink <%= brainworkerneedmore %> L of water every day.
        <%} if (needless== Yes) {%>
          You should drink <%= brainworkerneedless %> L of water every day.
        <%}
          You should drink <%= brainworker %> L of water every day.
   <% }%>

   <% if (worker==Physicalworker) {%>
      <% if (needmore==Yes) {%>
         You should drink <%= physicalworkerneedmore %> L of water every day.
       <%} if (needless== Yes) {%>
         You should drink <%= physicalworkerneedless %> L of water every day.
       <%}
         You should drink <%= physicalworker %> L of water every day.
  <% }%>


<%- include('bootfooter') -%>
